    <!-- Intro Section -->
    <section id="intro" class="container content-section text-center">
        <img src="../img/IMG_9353.JPG" height="400"/>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" >
                    <p></p>
                    <h2>Intro</h2>
                    <p><b>Erin Woo</b> is a senior undergradute student studying computing at UC Santa Barbara's College of Creative Studies.
                        <p>She was previously a software engineering intern for WeWork in San Francisco on the Core Platform - Devices team and is currently a software engineering intern for the Teams Android app at Microsoft.</p>
                    <a href="https://reigningit.wordpress.com/2017/06/22/women-who-reign-erin-woo/"> Read more about Erin in her <strong>Women Who Reign</strong> feature.</a> 
                </div>
            </div>
        </div>
    </section>